<div id="wrapper">

  <div class="slide main">
	  <div class="inner">
			<div id="logo">
	      <%= image_tag("Logo.png", :size => "250x250", :alt => "Logo")%>
			</div>
      
      <form>
        <fieldset>
          <input type="email" placeholder="enter email address" class="input">
          <button type="submit" class="btn">invite me</button>
        </fieldset>
      </form>
      
        <h1>Be your own personal trainer</h1>
      </div>
		</div>
	</div>

  <div class="slide personal">
    <div class="inner">
      <div class="description">
  			<h1>A personalized workout </br> built around you</h1>
    	</div>
  	</div>
    <div class="scrollphone">
  	    <%= image_tag("iphonedemo.png", :size => "350x600", :alt => "Logo", :class => "scrollphone")%>
  	</div>
  </div>

<div class="slide smart">
  <div class="background">
  <div class="circles">
  </div>
  	<div class="inner">
  		<h1> it's not just personal, </br> it's smart </h1>
  		<p>Our algorithm understands the best way to meet </br> your goals and offer you a workout that is worth your time</p>
  	</div>
  </div>
</div>

<div class="slide quality">
  <div class="background">
    <div class="inner">
      <div class="description">
  			<h1>Quality over quantity</h1>
    	</div>
  	</div>
    <div class="info">
      <h2>No one needs 1500+ Exercises</h2>
      <p>Vit removes the clutter and offers </br> the best exercises that meet your goals</p>
      </br>
      <h2>The right ingredients</h2>
      <p>As you pick and choose exercises </br> you love. Vit ensures you're getting </br> a balanced routine </p>
    </div> 
    
    <div class="qualityphone">
  	    <%= image_tag("qualityphone.png", :size => "350x600", :alt => "Logo", :class => "qualityphone")%>
  	</div>
  </div>
</div>

<div class="slide life">
  <div class="background">
		<div class="inner">
			<h1>We understand life happens</h1>
		</div>
    
    <div class="banner">
      <div class="dinnerplans">
        <%= image_tag("clock.png", :size => "100x100", :alt => "clock", :class => "clock")%>
        <h2> Dinner Plans? </h2>
        <hr>
        <p> Vit automatically adjusts to a </br> new workout that fits your </br> tight schedule but still </br> advances your goals </p>
      </div>
      
      <div class="benchtaken">
        <%= image_tag("twoarrows.png", :size => "100x100", :alt => "twoarrows", :class => "twoarrows")%>
        <h2> Bench Taken? </h2>
        <hr>
        <p> Waiting around at the gym </br> for a machine is no fun! </br> Substitute any exercise </br> instantly with just a tap </p>
      </div>
      
      <div class="feelinggood">
        <%= image_tag("explosion.png", :size => "100x100", :alt => "explosion", :class => "explosion")%>
        <h2> Feeling Good? </h2>
        <hr>
        <p> Want to do a few more </br> sets? Vit figures out which </br> exercises are the best to </br> supplement your plan </p>
      </div>
    </div>
    
  </div>
</div>
  
<div class="slide graph">
  <div class="background">
  
		<div class="inner">
			<h1>We let you know how you're doing</h1>
		</div>
    
    <div class="info">
      <h2>It's more than just a graph</h2>
      <p>Plotting points is easy. Vit runs your </br> progress through our analytics engine </br> for insightful reports. </p>
      </br>
      <h2>Practicality First</h2>
      <p>Simple and powerful. Our reports </br> offer useful advice so you can focus </br> on what's important </p>
    </div> 
    
    <div class="graphphone">
  	    <%= image_tag("graphphone.png", :size => "350x600", :alt => "Analytics", :class => "graphphone")%>
  	</div>
    
	</div>
</div>
  
<div class="slide team">
	<div class="inner">
		<h1>We are a team of engineers and designers in New York City.</h1>
	</div>
</div>
  
<div class="slide footer">
	<div class="inner">
		<div class="slinks">
		  
		</div>
		<div class="infolinks">
			
		</div>
		
	</div>
</div>
</div>
