<div id="wrapper">

  <div class="slide main">
	  <div id="logo">
	    <%= image_tag("Logo.png", :alt => "Logo", :class => "logo")%>
		</div>
    <%= render 'visitors/new' %>
    <h1>Be your own personal trainer</h1>
	</div>

  <div class="slide personal">
    <div class="background">
      <div class="inner">
  			<h1>A personalized workout </br> built around you</h1>
  	  </div>
      <div class="greenline">
      </div>
      <div class="greenline">
      </div>
      <div class="phone">
  	    <%= image_tag("iphonedemo.png",:size => "350x600", :alt => "Logo", :class => "scrollphone")%>
  	  </div>
    </div>
  </div>

  <div class="slide smart">
    <div class="background">
      <div class="inner">
    		<h1> It's not just personal, </br> it's smart </h1>
        <div class="circles">
            <div class="circle">
              <p>Your Experience</p>
            </div>
            <div class="circle">
              <p>Your Schedule</p>
            </div>
            <div class="circle middle">
              <p>Vit's Algorithm</p>
            </div>
            <div class="circle">
              <p>Your Class</p>
            </div>
            <div class="circle">
              <p>Your Lifestyle</p>
            </div>
        </div>
        <div class="algo">
      	  <p>Vit's algorithm offers a simple, flexible way to create </br> a smart, custom workout routine that is worth your time. </p>
          </div>
        </div>
    </div>
  </div>

  <div class="slide quality">
    <div class="background">
      <div class="inner">
    			<h1>Quality over quantity</h1>
      <div class="info">
        <h2>No one needs 1500+ Exercises</h2>
        <p>Vit removes the clutter and offers the most effective exercises that meet your goals</p>
        </br>
        <h2>The right ingredients</h2>
        <p>As you pick and choose exercises you love. Vit ensures you're getting a balanced routine </p>
      </div> 
      <div class="phone">
    	    <%= image_tag("qualityphone.png",:size => "350x600", :alt => "quality", :class => "qualityphone")%>
    	</div>
    
      </div>
    </div>
  </div>

  <div class="slide life">
    <div class="background">
  		<div class="inner">
  			<h1>We understand life happens</h1>
  		</div>
    
      <div class="banner">
        <div class="dinnerplans">
          <div class="bannerpic">
            <%= image_tag("clock.png", :alt => "clock", :class => "clock")%>
         </div>
          <h2> Dinner Plans? </h2>
          <hr>
          <p> Vit automatically adjusts to a new workout that fits your tight schedule while still advancing your goals </p>
        </div>
      
        <div class="benchtaken">
          <div class="bannerpic middle">
            <%= image_tag("twoarrows.png", :size => "150x100", :alt => "twoarrows", :class => "twoarrows")%>
          </div>
          <h2> Bench Taken? </h2>
          <hr>
          <p> Waiting around at the gym  for a machine is no fun! Substitute any exercise  instantly with just a tap </p>
        </div>
      
        <div class="feelinggood">
          <div class="bannerpic">
            <%= image_tag("explosion.png", :alt => "explosion", :class => "explosion")%>
          </div>
          <h2> Feeling Good? </h2>
          <hr>
          <p> Want to do a few more sets? Vit figures out which exercises are the best to  supplement your plan </p>
        </div>
      </div>
    
    </div>
  </div>
  
  <div class="slide graph">
    <div class="background">
  		<div class="inner">
  			<h1>We let you know how you're doing</h1>    
      <div class="info">
        <h2>It's more than just a graph</h2>
        <p>Plotting points is easy. Vit runs your progress through our analytics engine for insightful reports </p>
        </br>
        <h2>Practicality First</h2>
        <p>Simple and powerful. Our reports offer useful advice so you can focus on what's important </p>
      </div> 
    
      <div class="phone">
    	    <%= image_tag("graphphone.png", :size => "350x600", :alt => "Analytics", :class => "graphphone")%>
    	</div>
      </div>
  	</div>
  </div>
  
  <div class="slide team">
  	<div class="inner">
  		<h1>We are a team of engineers and designers </br> in New York City.</h1>
  		<p>Learn more about Vit</p>
  	</div>
  </div>
  
  <div class="slide footer">
		<div class="slinks">
		  <%= link_to image_tag("facebook.png", :size => "40x40", :class => "slink"), "http://www.facebook.com/vitfitnessapp/"%>
      <%= link_to image_tag("linkedin.png", :size => "40x40", :class => "slink"), "#"%>
      <%= link_to image_tag("twitter.png", :size => "40x40", :class => "slink"), "http://www.twitter.com/vitfitness_/"%>
      <%= link_to image_tag("vintage.png", :size => "40x40", :class => "slink"), "http://www.instagram.com/vitfitness_/"%>
		</div>
		<div class="infolinks">
			<%= link_to "about us", about_path, :class => "infolink" %>
      <%= link_to "careers", "#", :class => "infolink mid" %>
      <%= link_to "contact us", "#", :class => "infolink" %>
      <vr>
		</div>
	</div>
  
</div>
